/.tscache
/node_modules
*.class
/src/js/.baseDir.ts
/src/js/*.js
/tasks/*.js
/Grunttasks.js
/build/js/app.js
/build/js/src
/build/*.html
/build/demo_files/listings.json
/build/demo_files/programs
/build/demo_files/vendor
/build/demo_files/natives
.DS_Store
