/.tscache
/node_modules
*.class
/src/js/.baseDir.ts
/src/js/*.js
/tasks/*.js
/Grunttasks.js
/build/js/app.js
/build/js/browserfs.*
/build/js/doppio*
/build/js/websockify/
/build/programs
/build/*.html
/build/doppio_home.zip
.DS_Store
